.git
.gitignore

backend/.git
backend/.air.toml
backend/.env
backend/.env.*
backend/bin/
backend/build/
backend/dist/
backend/tmp/
backend/temp/
backend/vendor/
backend/.gocache/
backend/.gomodcache/
backend/*.db
backend/*.db-journal
backend/*.sqlite
backend/*.sqlite3
backend/*.log

frontend/**/*.map

**/.DS_Store
**/Thumbs.db
